ansible
azure-cli
msgraph-sdk
msrestazure
azure-identity
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
azure-mgmt-authorization
azure-mgmt-keyvault
azure-mgmt-containerinstance
azure-mgmt-containerservice
azure-mgmt-dns
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-privatedns
azure-mgmt-rdbms
azure-mgmt-sql
azure-mgmt-web
azure-mgmt-automation
azure-mgmt-notificationhubs
azure-mgmt-datafactory
